<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="toHFC" value="vrea***REMOVED***;rlaines***REMOVED***;amesta***REMOVED***" />
      <add key="ccHFC" value="capa_hfctecnico***REMOVED***;capa_hfcadmin***REMOVED***;CalidadHFCTecnico***REMOVED***;CalidadHFCAdmin***REMOVED***;tl.hfctec***REMOVED***;tl.admin.clarohfc***REMOVED***;aseguramientodeprocesos***REMOVED***;***REMOVED***;juan.huilca***REMOVED***" />
      <add key="toPOST" value="aizquierdo***REMOVED***;sandra.arias***REMOVED***;rlaines***REMOVED***;capa_postpago***REMOVED***;calidadpostpago***REMOVED***;lima.tlclaropostpago***REMOVED***;postpagoclarotc***REMOVED***;leslie.caceres***REMOVED***;***REMOVED***;amesta***REMOVED***" />
      <add key="ccPOST" value="reportes_cdg***REMOVED***;gmorales***REMOVED***;eduardo.vizcarra***REMOVED***;validadorescrosspostpago***REMOVED***" />
      <add key="informe_cz" value="Cuarto Informe" />
      
    </appSettings>
</configuration>